doctype html
html(lang="en")
  head
    style(type="text/css").
      .firstline {
        font-weight: bold;
      }
  body
    p.firstline 欢迎加入beecms社区
    p 您的验证码为：#{code}。
    p 请使用您验证码进行注册或者修改密码。